body {
	background-color: antiquewhite;
	font-family: "FF Tisa Pro", "Palatino Linotype", "Book Antiqua", Palatino, serif;

}
div.topheader {
	background-color: khaki;
	color: darkslategray;
	height: 200px;
	text-align: center;
}
div.topheader.h1 {
	vertical-align: center;
}
div.bodytext {
	background-color: antiquewhite;
	color: darkslategray;
	margin-left: 100px;
	margin-right: 100px;
}