body {
	background-color: antiquewhite;
	font-family: "FF Tisa Pro", "Palatino Linotype", "Book Antiqua", Palatino, serif;

}
div.topheader {
	background-color: moccasin;
	color: darkslategray;
	height: 200px;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}
div.bodytext {
	background-color: antiquewhite;
	color: darkslategray;
	margin-left: 100px;
	margin-right: 100px;
}
a.button {
	background-color: moccasin;
	text-align: center;
	padding: 10px 10px;
	margin: 5px 5px;
}